.main_futurepage section {

    width: 100%; height: 80%;

    display: flex; align-items: center;

    justify-content: center;
}

.main_futurepage section p {

    font-size: 64pt; text-align: center;

    color: white;
}